.particles-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
    pointer-events: none; /* so it doesn't block clicks */
    z-index: -1;
}

.particle {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    animation: floatAnim 5s infinite ease-in-out;
}

.particle:nth-child(1) {
    top: 10px;
    left: 20px;
    width: 30px;
    height:30px;
    animation-duration: 4s;
    animation-delay: 0s;
}

.particle:nth-child(2) {
    top: 60px;
    left: 20px;
    width: 60px;
    height:60px;
    animation-duration: 6s;
    animation-delay: 1s;
}

.particle:nth-child(3) {
    top: 100px;
    left: 80px;
    width: 10px;
    height:10px;
    animation-duration: 5s;
    animation-delay: 0.5s;
}

.particle:nth-child(4) {
    top: 10px;
    left: 120px;
    width: 80px;
    height:80px;
    animation-duration: 7s;
    animation-delay: 2s;
}

.particle:nth-child(5) {
    top: 140px;
    left: 60px;
    width: 30px;
    height:30px;
    animation-duration: 4.5s;
    animation-delay: 1.5s;
}

@keyframes floatAnim {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
